.Buttons {
  background: url("/images/background.jpg"), navy;
  background-position: bottom;
  background-size: cover;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.Button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 200;
  margin: 0;
  padding: 1.2rem 1.6rem 2.2rem;
  position: relative;
  text-align: center;
  transition: all 0.4s ease;
}

.Button.Button--green:hover,
.Button.Button--green:hover .Button-text { color: green; }

.Button.Button--silver:hover,
.Button.Button--silver:hover .Button-text { color: silver; }

.Button.Button--red:hover,
.Button.Button--red:hover .Button-text { color: red; }

.Button.Button--inverse { color: gray; }

.Button.Button--inverse:hover,
.Button.Button--inverse:hover .Button-text { color: blue; }

.Button-text {
  bottom: 0.3rem;
  display: block;
  font-size: 1rem;
  left: 50%;
  margin: 0.4rem auto;
  opacity: 0;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);
  transition: all 0.4s ease;
  white-space: nowrap;
}

.Button:hover .Button-text {
  opacity: 1;
}

.Button:focus { outline: none; }
